.row
  .large-12.columns
    %h1 Listing exercises

    = select_tag "Activity", options_for_select(current_user.exercises.pluck(:activity).uniq.map{|x| [x, x]})
    = link_to 'New Exercise', new_exercise_path, remote: true, data:{"reveal-id" => "new_exercise"}

    #user_exercises 
      = render partial:"exercises"

.row
  .large-12.columns
    #chart
#new_exercise.reveal-modal

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
